#root {
  text-align: center;
  background-color: cornflowerblue;
}
ul {
  columns: 5;
  background-color: rgb(10, 64, 241);
}

.search-bar {
  margin: auto;
  width: 50%;
  border: 20px;
}
.search-button {
  margin: auto;
  border: 20px;
}

.store-button {
  margin-bottom: 20px;
}
.name-button {
  border-color: aqua;
  color: rgb(243, 204, 240);
  background-color: rgb(71, 6, 252);
  padding-left: 15px;
  padding-right: 15px;
}

.name-view {
  color: rgb(33, 2, 105);
  border: 1.2px solid rgb(54, 1, 243);
}

/* NOTES FROM LIVE CODING
.name-view.name.f / or female {
  background: magenta
}

.name-view.m .male{
 background: light blue 
}
.names-view{
  border-color: aquamarine;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
// rem is usually better than px
*/
