ul {
    columns: 5;
    background-color: beige;
}

.search-bar{
    margin: auto;
    width: 50%;
    border: 20px; 
    
    
}
.search-button{
    margin: auto;
    border: 20px;
    
}

.name-view{
    color: rgb(76, 0, 255);
}
/*
.names-view{
    border-color: aquamarine;
}
*/